.list-container {
  width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  background: #ffffff;
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.15);
}

.loading {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #333333;
}