.box-item {
  width: 349px;
  height: 69px;
  display: flex;
  border-width: 0px 0px 1px 0px;
  border-color: rgba(0, 0, 0, 0.15);
  border-style: solid;
  /* align-items: stretch; */
  justify-content: space-between;
  align-items: center;
}

.text {
  margin-left: 15px;
  font-family: "SF Pro Display";
  font-style: normal;
  letter-spacing: 0.0125em;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.title {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #333333;
}

.sub-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

.arrow {
  margin-right: 15px;
  width: 24px;
  height: 24px;
}
